@model IEnumerable<Aplicacion.Post>

@{
    var s = Dominio.Sistema.GetInstancia();
    var idL = Context.Session.GetInt32("LogueadoId");
}
@if (Model.Count() != 0)
{
    <div class="container">
        @foreach (var p in Model)
        {
            <div class="container-fluid text-center">
                <div class="mx-auto">
                    <h3>@p.Autor.Nombre @p.Autor.Apellido - @p.Titulo</h3>

                    <img src="/img/User/Posts/@p.Img" alt="@p.Img" class="img-fluid imgPost">
                    <p>@p.Contenido</p>

                    @Html.ActionLink("👍 " + p.CalcularCdadReacciones(Aplicacion.TipoReaccion.like) , "DarLike", "Publicacion", new { id = p.Id }, new { @class = "btn btn-secondary btn-lg like-btn" })

                    @Html.ActionLink("👎 " + p.CalcularCdadReacciones(Aplicacion.TipoReaccion.dislike),"DarDisLike","Publicacion", new{id=p.Id}, new {@class = "btn btn-secondary btn-lg"})
                    <p>Valor de aceptación: @p.CalcularVA()</p>

                    <div class="container-fluid text-center w-75">
                        <div class="row justify-content-center mt-3 ">
                            <div class="col-8">
                                <div class="container-fluid bg-dark p-3 rounded text-white">
                                    @if (p.GetComentarios().Count == 0)
                                    {
                                        <h4>Parece que aún no hay comentarios, sé el primero en comentar!</h4>
                                    }
                                    @foreach (var c in p.GetComentarios())

                                    {
                                        if (c.Privacidad == Aplicacion.Privacidad.publica || s.SonAmigos(c.Autor.Id, idL) || c.Autor.Id == idL)
                                        {
                                            <div class="comment-container mb-3 p-2 rounded border border-light">
                                                <h4>@c.Autor.Nombre @c.Autor.Apellido - @c.Titulo</h4>
                                                <p>@c.Contenido</p>

                                                @Html.ActionLink("👍 " + c.CalcularCdadReacciones(Aplicacion.TipoReaccion.like) , "DarLike", "Publicacion", new { id = c.Id }, new { @class = "btn btn-secondary btn-lg like-btn" })

                                                @Html.ActionLink("👎 " + c.CalcularCdadReacciones(Aplicacion.TipoReaccion.dislike),"DarDisLike","Publicacion", new{id=c.Id}, new {@class = "btn btn-secondary btn-lg"})
                                                <p class="text-success">Valor de aceptación: <strong>@c.CalcularVA()</strong></p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form asp-action="ComentarPost" asp-controller="Publicacion" method="post" class="m-1">
                            <div class="m-2">
                                <input type="hidden" value="@p.Id" name="idPost">
                                <input class="d-block" type="text" name="tituloComentario" placeholder="Ingrese un título">
                            </div>
                            <div class="m-2">
                                <input class="d-block" type="text" name="contenidoComentario" placeholder="Ingresá un comentario">
                            </div>
                            <div class="m-2 d-block">
                                <label for="checkbox" class="form-check-label">Privado</label>
                                <input id="checkbox" name="privacidadCheckbox" type="checkbox" class="form-check-input" value="true" />
                                <input type="hidden" name="privacidadCheckbox" value="false" />
                            </div>
                            <div class="m-2">
                                <input type="submit" class="btn btn-primary" value="Agregar comentario">
                                <p class="text-danger">@ViewBag.Error</p>
                            </div>
                            <p></p>@ViewBag.Error
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container-fluid vw-100 d-flex justify-content-center align-items-center">
        <h1 class="container-lg text-center d-block">
            Parece aún no hay publicaciones!
        </h1>
        <h2 class="container-lg text-center">
            <a href="../User/Personas" class="text-decoration-none text-dark">
                Sigue a algunas personas para ver lo que comparten...
            </a>
        </h2>
    </div>
}
@section Styles{
    <link rel="stylesheet" href="~/css/Publicaciones/Index.css" asp-append-version="true" />
}
@section Scripts{

    <script>
        $(document).scroll(function () {
            localStorage['page'] = document.URL;
            localStorage['scrollTop'] = $(document).scrollTop();
        });

        $(document).ready(function () {
            if (localStorage['page'] == document.URL) {
                $(document).scrollTop(localStorage['scrollTop']);
            }
        });

    </script>
}